*.class
*~
.*.swp
.*.swo
.loadpath
.buildpath
.classpath
.project
.settings
.idea
*.iml
*.ipr
*.iws
nbproject
.DS_Store
target
test-output
/META-INF/MANIFEST.MF
work
atlassian-ide-plugin.xml
/nb-configuration.xml