# This workflow is designed to build PRs for AHC. Note that it does not actually publish AHC, just builds and test it.
# Docs: https://help.github.com/actions/language-and-framework-guides/building-and-testing-java-with-maven

name: Build PR

on:
  push:
    branches:
      - main
  pull_request:

  workflow_dispatch:
    inputs:
      name:
        description: 'Github Actions'
        required: true
        default: 'Github Actions'

jobs:
  RunOnLinux:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - name: Grant Permission
        run: sudo chmod +x ./mvnw
      - uses: actions/setup-java@v4
        with:
          distribution: 'corretto'
          java-version: '11'
      - name: Run Tests (force Docker tests)
        run: ./mvnw -B -ntp clean test -Ddocker.tests=true

  RunOnMacOs:
    runs-on: macos-latest
    steps:
      - uses: actions/checkout@v4
      - name: Grant Permission
        run: sudo chmod +x ./mvnw
      - uses: actions/setup-java@v4
        with:
          distribution: 'corretto'
          java-version: '11'
      - name: Run Tests (force Docker tests)
        run: ./mvnw -B -ntp clean test -Ddocker.tests=true

  RunOnWindows:
    runs-on: windows-latest
    steps:
      - uses: actions/checkout@v4
      - uses: actions/setup-java@v4
        with:
          distribution: 'corretto'
          java-version: '11'
      - name: Run Tests
        run: ./mvnw.cmd -B -ntp clean test
